Data
Data_reserved
Doc
:2eDS_Store
**/.DS_Store
**/.AppleDouble
.AppleDouble
.DS_Store
**/.svn
.svn
/:2eDS_Store
diary.txt
FINDER.DAT
.Parent

.git
.idea

*.m~

*.mat
*.fig

*.bmp
*.jpg
*.jpeg
*.png
*.tif
*.tiff

*.asv
*.mexmaci64
*.dll

*.class

*.pkl
*.pyc
*.npy
*.npz
*.so
*.o

*.zip
*.PDF
*.pdf

*.mode1v3
*.mode2v3
*.xcuserstate
*.xcbkptlist
*.xccheckout
project.xcworkspace/
xcuserdata/

.Rproj.user
*.csv
.Rhistory
.RData
RESOURCE.FRK/

!license.txt
*._.DS_Store

*.ipynb_checkpoints
*.mlappinstall
*.prj

.spyproject
__pycache__
